/* body .open { */
#actionmenu {
	background: rgba(0, 0, 0, 0.6) !important;
}

.container-vip .container-content .container-body {
	width: 650px;
	height: 350px;

    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 0 10px 50px -10px rgb(0 0 0 / 90%);
    box-shadow: 0 10px 50px -10px rgb(0 0 0 / 90%);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.container-vip {
    border-radius: 7px;
    overflow: hidden;
    background-color: transparent;
	/* transform: translateY(-25%); */
}

.container-vip .container-content {
    background-color: transparent;
    border: none;
    border-radius: 7px;
}

.container-vip .container-content .container-body h2 {
    font-size: 18px;
}

.container-vip .container-content .container-body p {
    color: #777;
    font-size: 14px;
}

.container-vip .container-content .container-body h3 {
    color: #000;
    font-size: 22px;
}

.container-vip .btn {
    border-radius: 30px;
}

.container-vip .warp-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    background: rgba(62, 100, 255, 0.05);
    color: #3e64ff;
    border-radius: 50%;
}

.container-vip .warp-icon i {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    border-radius: 4px;
    border: none;
}

.btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input {
    text-transform: uppercase;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}